[submodule "doc"]
	path = doc
	url = https://github.com/AGeissler/ESP-rDoc.git
[submodule "data"]
	path = data
	url = https://github.com/AGeissler/ESP-rDatabases.git
[submodule "models"]
	path = models
	url = https://github.com/AGeissler/ESP-rModels.git
